{% load static %}

{% block content %}

<div class="page-1" id="intro">
    <div class="container-fluid">
        <div class="row">
            <br/>
        </div>
        <div class="row">
            <div class="col"></div>
            <br/>
        </div>
        <div class="row align-items-center">
            <div class="col-sm"></div>
            <div class="col-md-6"><h1 class="big-text1xx"><strong>HELLO</strong></h1>
                <p class="desc-textxx">My name is Adam Maulana,<br/>
                    I’m from Indonesia and living in Jakarta.<br/>
                    I study in University of Indonesia, majoring in <br/> Information System.
                </p>
            </div>
            <div class="col-md">
                <img src="https://i.postimg.cc/P5t9GMtX/image.png" class="photo-background-a1" >
                <br/>
            </div>
            <div class="col-md"></div>

        </div>
        <div class="row">
            <div class="col-sm"></div>
        </div>
    </div>
</div>
<div class="page-2" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <br/>
        </div>
        <div class="row">
            <div class="col"></div>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-1"><br/></div>
            <div class="col-sm-2">
                <blockquote class="blockquote text-center">
                    <a class="semi-big-textxx"><strong>SKILL</strong></a>
                </blockquote>
            </div>
            <div class="col-sm-5">
                <blockquote class="blockquote text-center">
                    <a class="semi-big-textxx"><strong>EXPERIENCE</strong></a>
                </blockquote>
            </div>
            <div class="col-sm-2">
                <blockquote class="blockquote text-center">
                    <a class="semi-big-textxx"><strong>ARTICLES</strong></a>
                </blockquote>
            </div>
            <div class="col-sm-1"><br/></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
        </div>
    </div>
</div>
<div class="page-3" id="gallery">
    <div class="container-fluid">
        <div class="row align-items-center">
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="col-sm-1"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-8"><h1 class="big-text2xx-dark"><strong>Capture of My Life</strong></h1></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <br/><br/><br/><br/>

        </div>
        <div class="row">
            <div class="col"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-1"><br/></div>
            <div class="col-sm-1"><br/></div>
            <div class="col-sm-3">
                <img src="https://i.postimg.cc/KYhdqyRW/lr_DSC3276.jpg" class="img-thumbnail" alt="Author : Adam">
            </div>
            <div class="col-sm-3">
                <img src="https://i.postimg.cc/Wp9c2KHD/DSC3542.jpg" class="img-thumbnail" alt="Author : Adam">
            </div>
            <div class="col-sm-3">
                <img src="https://i.postimg.cc/dtv6xtBr/image.jpg" class="img-thumbnail" alt="Author : Adam">
            </div>

            <div class="col-sm-1"><br/></div>
        </div>
    </div>
</div>

<div class="page-4" id="contact-me">
    <div class="container-fluid">
        <div class="row">
            <br/>
        </div>
        <div class="row">
            <div class="col"></div>
            <br/>
        </div>
        <div class="row align-items-center">
            <div class="col-sm"></div>
            <div class="col-md-6"><h1 class="big-text1xx"><strong>Contact Me!</strong></h1>
                <br/><br/><br/><br/>
                <div class="row">
                    <div class="col-sm-2"><img src="https://image.flaticon.com/icons/svg/123/123734.svg" class="icon-xx"></div>
                    <div class="col-md-3"><p class="desc-textxx">@adamln</p></div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <img src="https://image.flaticon.com/icons/svg/61/61164.svg" class="icon-xx">
                    </div>
                    <div class="col-md-3"><p class="desc-textxx">@adam_mln</p></div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <img src="https://image.flaticon.com/icons/svg/732/732200.svg" class="icon-xx"></div>
                    <div class="col-md-3">
                        <p class="desc-textxx">adam.maulana2603@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
            </div>
            <div class="col-md"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
        </div>
    </div>
</div>


{% endblock %}
